<!DOCTYPE html>
<html>
  <head>
    <title>Newtracks.js</title>
  </head>
  <body>
    <h1>Newtracks.js for <%= username %></h1>
    
    <div class="container" ng-app="ngNewTracks">
      <div ng-controller="NewTracks">
        <iframe src="https://embed.spotify.com/?uri=spotify:trackset:NewTracks.js:{{spotifyTrackIds}}" frameborder="0" allowtransparency="true"></iframe>
        
      </div>
      
    </div>
    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="newtracks.js"></script>
  </body>
</html>