<!DOCTYPE html>
<html>
  <head>
    <title>Newtracks.js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="newtracks.css">
  </head>
  <body>
    <h1>Newtracks.js for <%= username %></h1>
    <div class="container" ng-app="ngNewTracks">
      <div ng-controller="NewTracks">
        
        <div class="row" ng-show="showplayer">
          <div class="col-md-4">
            <spotify-player tracks="{{spotifyTrackIds}}"></spotify-player>            
          </div>
          
          <div class="col-md-8">
            <div id="artistGrid">
              <div ng-repeat="artist in artists">
                <artist-tile name="{{artist.name}}" url="{{artist.url}}" img="{{artist.image[3].content}}">
              </div>
            </div>
          </div>          
        </div>
        
      </div>
      
    </div>
    
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="masonry.pkgd.min.js"></script>
    <script src="newtracks.js"></script>
  </body>
</html>