h1 {
  color: #000;
  background-color: #FFC300;
  padding: 10px 10px 10px 20px;
  text-transform: uppercase;
}

p, a, a:visited, a:hover {
  color: #EEE;
  margin-top: 12px;
}

a {
  text-decoration: underline;
}